.chat-container {
    padding-bottom: 100px;
}

.text-box-response {
    border-width: 2px;
    border-radius: 10px;
    padding: 15px;
    margin-right: 300px;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
}

.text-box-reply {
    border-width: 2px;
    border-radius: 10px;
    padding: 15px;
    margin-right: 20px;
    margin-left: 300px;
    text-align: right;
    display: flex;
    justify-content: space-between;
}

.text-box-tag {
    min-width: 110px;
}

.text-box-reply .text-box-tag {
    text-align: left;
}

.input-group {
    display: flex;
    flex-direction: row;
    border-top-width: 1px;
    padding: 15px;
    height: 80px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
}

.input-container {
    width: 100%;
    padding: 0 10px;
}

.input-icon-container {
    padding: 0 10px;
}